* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Plus Jakarta Sans", sans-serif;
}


/*navbar*/
.navbar {
  position: relative; 
  box-shadow: 0px 1px 8px rgba(182, 182, 182, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  align-items: center;
  background-color: #f7f3f3;
}

/*navbar logo*/
.navbar-logo{
  padding: 20px 0 0 0 ; 
  margin-top:60px; 
}

.navbar-logo img{
  width: 300px; 
}


/*navbar links*/
.navbar-links{
  display: flex;
  flex-direction: column; 
  list-style: none;
  gap: 2rem;
  padding-bottom: 30px; 
}

.navbar-links__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-links__item a{
  text-decoration: none;
  color: #313030;
  position: relative;
}

.navbar-links__item a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -1%);
  width: 20px; 
  height: 20px; 
  background-image: url('../img/icons/tropical.png'); 
  background-size: cover; 
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.navbar-links__item a:hover::after  {
  opacity: 1; 
}

.navbar-links__item a:hover{
  color: #0c584f;
}

/*navbar user*/
.navbar-user{
  display: flex;
  position: absolute; 
  left: 0;
  top: 0;
  border-bottom: #acacac solid 1px ; 
  gap: 50%;
  width: 100%; 
  padding: 10px 100px; 
  align-items: center;
  justify-content: center;
}

.navbar-user__user{
  list-style: none;
}

.navbar-user__user img{
  width: 30px;
}

.navbar-user__item{
  text-decoration: none;
}

.navbar-user__item--login{
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}
.navbar-user__item--login div{
  width: 150px; 
}

.navbar__item--logout{
  font-size: 0.8rem;
  color: #acacac;
}
.navbar__item--logout:hover{
  color: #cc3939;
}

.navbar-user__cart img{
  width: 35px;
  padding-top: 5px;
}


@media(min-width:768px){
  
/*navbar*/
.navbar {
  position:relative;
  flex-direction: row;
}


/*navbar logo*/
.navbar-logo{
  padding: 20px 0;
  margin-top:0;
}

.navbar-logo img{
  width: 200px; 
}


/*navbar links*/
.navbar-links{
  flex-direction: row;
  padding-bottom: 0; 
}


/*navbar user*/
.navbar-user{
  position: relative;
  left: 0; /**/
  top: 0;/**/
  border-bottom: none;
  gap: 1rem;
  width: 200px;
  padding: 0;
}

.navbar-user__item--login div{
  width: auto;
}
}