/*cards de productos*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}


.card-product{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    height: 320px;
    border-radius: 5px;
    background-color: #f7f3f3;
    transition: box-shadow 0.5s, opacity 0.3s;
}

.card-product:hover{
    box-shadow: 0px 2px 8px rgba(41, 41, 41, 0.5);
    opacity: 1; 
}
.card-product:hover button{
    opacity: 1;
}

.card-product__img{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    border-bottom:  0.5px solid #7d7d7d;
}

.card-product__img img{
    width: 100%;
}

.card-product__title{
    font-size: 1.1rem;
    margin:15px 0 10px 0;
    color: #2b2b2b;
}

.card-product__price{
    font-size: 1.3rem;
}
.card-product__btn{
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.card-product__btn button{
    border:none;
    padding: 3px 8px 0 8px ;
    background-color: #54b17e;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s;
    opacity: 0;
}

.card-product__btn--delete{
    top: 15px;
    height: 0;
}

.card-product__btn--delete button{
    background-color: #cc3939;
}

.card-product__btn img{
    width: 20px;
}

.card-product__btn button:hover {
    transform: scale(1.1);
}

/*formulario para nuevos productos*/
.real-time__container{
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    min-width: 200px;
    width: 200px;
    padding: 20px;
    background-color: #7d7d7d;
}
.form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}
.form__title{ 
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}

.form form input, select {
    width: 150px;
    border:none;
    outline: none;
    border-radius: 5px;
    padding: 3px;
}
.form__btn{
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #414141;
    color: #fff;
    transition: transform 0.3s;
    font-size: 1rem;
}
