<nav class="navbar">
    <div class="navbar-logo">
        <img src="img/logo/logo.png" alt="">
    </div>

    <ul class="navbar-links">
        <li class="navbar-links__item"><a href="/">Inicio</a></li>
        <li class="navbar-links__item"><a href="/products">Productos</a></li>
        <li class="navbar-links__item"><a href="/">Sobre nosotros</a></li>
        <li class="navbar-links__item"><a href="/">Contacto</a></li>
    </ul>

    <div class="navbar-user">
        <ul class="navbar-user__user">
            {{#if notUser}}
            <li class="navbar-user__item"><a href="/login"><img src="img/icons/usuario.png" alt=""></a></li>
            {{/if}}

            {{#if user}}
            <li class="navbar-user__item navbar-user__item--login">
                <a href="/"><img src="img/icons/usuario.png" alt=""></a>
                <div>
                    <p>Hola {{user.first_name}}</p>
                    <a class="navbar-user__item navbar__item--logout" href="/api/users/logout">Cerrar sesión</a>
                </div>
            </li>
            {{/if}}
        </ul>
        <div class="navbar-user__cart">
            <a href="/login"><img src="img/icons/carrito-de-compras.png" alt=""></a>
        </div>
    </div>
</nav>

<div>
     <div>
        <h1>Registro</h1>
    </div>

    <form action="/api/users/register" method="post" id="registerForm" class="register-form">
        <label for="first_name">Nombre</label>
        <input type="text" name="first_name" required>

        <label for="last_name">Apellido</label>
        <input type="text" name="last_name" required>

        <label for="age">Edad</label>
        <input type="number" name="age" required>

        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="password">Contraseña</label>
        <input type="password" name="password" required>

        <button class="register-form__btn">Registrarme</button>
    </form>

    <div>
        <p>¿Ya tenés una cuenta?</p> <a href="/login">Iniciar sesión</a>
    </div>

    {{#if failRegister}}
    <p>error en el registro</p>
    {{/if}}
</div>